* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 13px;
    margin-bottom: 2em;
}
a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
span {
    font-size: 13px;
    display: inline-flex;
    align-self: center;
}
.email input,.enter-pass input {
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
}
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    background-color: rgb(5, 172, 161);
    width: auto;
}
.content {
    margin: 15px;
    border-radius: 0.5em;
    background-color: white;
}
header {
    background-color: #e6e8eb;
    color: grey;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 20px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 2em;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}
.email,.enter-pass,.login-button {
    grid-column: span 2; 
}
.forgot-pass,.sign-up {
    display: flex;
    justify-content: flex-end;
}
.sign-up {
    margin-bottom: 2em;
}
button>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}
button {
    grid-column: span 2;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color:rgb(5, 172, 161);
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px 0;
}
button:hover {
    background-color: rgb(50, 200, 190);
}




